extends layout

block content
  .container.bg-white.mt-1.rounded-4
    .row-fluid.justify-content-center.align-items-center
      .col-md-8.offset-sm-2
        .row.align-items-center.pt-5
          .col-md-5
            img.img-fluid.border.border-dark-subtle.border-5.rounded-circle(src="/images/profile.jpeg", alt="tidak ada foto", style="min-width: 60%;")
          .col-md-7.pt-3
            h1.text-uppercase.fw-bold.pb-1.fs-1 ADITYA AL ASSAD
            p.text-uppercase.fw-bold.fs-4 Junior Programmer
            p.fw-semibold.fs-5.text-secondary Lulusan MAN 01 Ogan Komering Ulu Selatan, saat ini tengah mengejar gelar Sarjana-1 di Universitas Multi Data Palembang dengan jurusan Sistem Informasi. Ia telah menyelesaikan 7 semester studinya hingga saat ini.
          p.text-center.pb-3.pt-3.fw-semibold.fs-6.border-bottom.border-5 Alamat: Perumahan Taman Arizona, Kota Palembang | Email: adityaalassad019@gmail.com
        .row.pb-3.border-bottom.border-4
          .col-md-4
            h2.text-uppercase.fs-4.fw-bold Pengalaman
            ul
              li.fw-bold.fs-4(style="padding-top: .5rem; padding-bottom: 4.5em;") Nov-Des 2021
              li.fw-bold.fs-4(style="padding-bottom: 5.5em;") Mei-Jun 2022
              li.fw-bold.fs-4(style="padding-bottom: 6.5em;") Nov-Des 2022
              li.fw-bold.fs-4 Mar-Jul 2023
          .col-md-8
            h2.fs-4.text-white Keterangan
            ul
              li.fs-4.border-0.fw-bold Tugas Akhir PBO
                p.fs-5.fw-semibold Product Manager dan Front End Developer
                p.fs-6.fw-normal Membuat Aplikasi kasir Cafe Time berbasis desktop dengan menggunakan bahasa pemograman java dan tools neatbeans
              li.fs-4.border-0.fw-bold Tugas Akhir PAW I
                p.fs-5.fw-semibold Fullstack Developer
                p.fs-6.fw-normal Membuat Aplikasi Manajemen Produk berbasis website dengan menggunakan bahasa pemograman php dengan Laravel sebagai Framework yang digunakan dan tools Visual Studio Code
              li.fs-4.border-0.fw-bold AI Mastery Program Kampus Merdeka
                p.fs-5.fw-semibold AI Engineer
                p.fs-6.fw-normal Membuat Model Machine Learning atau Artificial Inteligence untuk mendeteksi bahasa isyarat dengan menggunakan algoritma single shot detection(SSD) yang akan digunakan dalam sebuah aplikasi yang dikerjakan oleh tim mobile
              li.fs-4.border-0.fw-bold Magang Merdeka di PT Sebangku Games Mitra PT Selingkar
                p.fs-5.fw-semibold Front End Developor
                p.fs-6.fw-normal Membuat tampilan Aplikasi Utama PT Selingkar yang berbasis website dengan menggunakan bahasa pemograman Javascript dengan React Js sebagai Framework yang digunakan, Sass untuk mengatur tampilan, Figma untuk membuat low fidelity serta high fidelity, dan tools Visual Studio Code
        .row.pt-2.border-bottom.border-5.pb-3
          .col
            h2.fw-bold Pendidikan
            ul
              li.fs-5.fw-bold Madrasah Aliyah Negeri 01 Ogan Komering Ulu Selatan
                p.fs-6.fw-semibold 
                  | Jurusan Ilmu Pendidikan Sosial
                  br
                  | Agustus 2017 - Mei 2020
              li.fs-5.fw-bold Universitas Multi Data Palembang
                p.fs-6.fw-semibold 
                  | Jurusan Sistem Informasi
                  br
                  | Agustus 2020 - Sekarang
        .row.pt-2.pb-3.border-bottom.border-5
          .col-md-6
            h2.fw-bold Skills
            ul.fs-5
              li HTML/CSS
              li Sass
              li JavaScript
              li Bootstrap
              li Laravel
              li Python
              li Machine Learning
              li Computer Vision
              li React Js
              li Figma
          .col-md-6
            h2.fw-bold Bahasa
            ul.fs-5
              li Bahasa Indonesia - Native
        .row.pt-4.pb-3
          .col
            h2.fw-bold.text-center.text-secondary Curriculum Vitae © By Aditya Al Assad
